<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% if ssid == null %}
<!-- session이 없다면 즉, 로그인하지 않았다면 -->
    <script>
        alert("먼저 로그인을 해주세요.");
        location.href = '/login/';
    </script>
<!--경로이동 함수(객체) js-location.herf , hy-rediect-->
    {% endif %}
    {% include 'navbar.html' %}
    <div id="container">
        <section>
            <h1>회원 목록</h1>
            <table>
                <tr>
                    <th>아이디</th>
                    <th>패스워드</th>
                    <th>이름</th>
                    <th>나이</th>
                    <th>가입일</th>
                </tr>
                {% for i in rs %}
                <tr>
                    <td><a href="{{ url_for('member_view', id=i[0]) }}">{{ i[0] }}</a></td>
                    <td>{{ i[1] }}</td>
                    <td>{{ i[2] }}</td>
                    <td>{{ i[3] }}</td>
                    <td>{{ i[4] }}</td>
                </tr>
                {% endfor %}
            </table>
        </section>
    </div>
</body>
</html>